
{% extends "main_template.html.twig" %}

{% block page %}
    <section class="blog-posts">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="post_title_container"><h2 class="has-text-centered titles">Most popular post</h2></div>
                    <div class="post-one columns featured-post is-multiline">
                        <div class="column is-12 post">
                            <article class="columns featured container is-fluid">
                                <figure class=" column is-7 post-img ">
                                    <img src="{% if MostPopularPost.image %} {{ MostPopularPost.image }} {% else %}  https://cdn.emk.dev/templates/post-img.png {% endif %}" alt="">
                                </figure>
                                <div class="column is-5 featured-content va">
                                    <div>
                                        <h1 class="title post-title">{{ MostPopularPost.title }}</h1>
                                        <p class="post-excerpt">{{ MostPopularPost.header }}</p>
                                        <br>
                                        <div class="post_one_icone_container is-flex is-align-content-center">
                                            <p class="post_icone"> {{ MostPopularPost.nbLike }} <i class=" fas fa-heart"></i></p>
                                            <p class="post_icone"> {{ MostPopularPost.nbComment }} <i class="fas fa-comment-alt"></i></p>
                                        </div>
                                        <a href="{{ URI }}/blog/detail/1" class="button read_more_post_one">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="post_title_container"><h2 class="has-text-centered titles">All post</h2></div>
                    <div class="columns is-multiline">
                        {% for post in allPost %}
                            {% include 'Includes/post.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


