{% extends "main_template.html.twig" %}

{% block page %}
    <div id="detail_container" class="container is-fluid">
        <div class="columns">
            <div class="column is-offset-2 is-8 mt-6">
                <h2>{{ post.title }}</h2>
                <figure class="image is-3by2">
                    <img src="{% if post.image %} {{ post.image }} {% else %}  https://cdn.emk.dev/templates/post-img.png {% endif %}"
                         alt="Featured Image">
                </figure>
                <p class="mt-5">
                    {{ post.header }}
                </p><br>
                <p id="content">
                    {{ post.content }}
                </p>
                <div class="post_icone_container is-justify-content-flex-end is-flex is-align-content-center">
                    <p class="post_icone"> {{ post.nbComment }} <i class="fas fa-comment-alt"></i></p>
                    <form method="post" action="/click/add">
                        <input type="hidden" name="postId" value="{{ post.id }}">
                        <button type="submit" id="nb_like_icone" class="post_icone"> {{ post.nbLike }} <i
                                    class=" fas fa-heart"></i></button>
                    </form>
                </div>
                <br>
                    <h2>Commentaires</h2>
                    <div class="box has-text-right">
                        <form method="post" action="{{ URI }}/blog/comment/add">
                            <input type="hidden" name="postId" value="{{ post.id }}">
                            <textarea id="comment_content" name="comment_content" class="textarea is-medium " placeholder="comment"></textarea>
                            <button class="mt-3" type="submit">Add comment</button>
                        </form>
                    </div>
                    <div id="comments" class="comments">
                        {% for comment in comments %}
                            {% if comment.valided %}
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                                <img src="{{ comment.avatar }}" alt="Image">
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <small>@{{ comment.pseudo }}</small> <small>{{ comment.date|date('d/m/Y') }}</small>
                                                    <br>
                                                    {{ comment.content }}
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}