{% extends "_index.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ parent() }}
    {% for link in links %}
        <link rel="stylesheet" href={{ link }} />
    {% endfor %}
{% endblock %}

{% block content %}
    {{include('_header.html.twig')}}
        <div id="page_container">
            {% block page %}

            {% endblock %}
        </div>
    {{include('_footer.html.twig')}}
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}